extends ../layout/base

include ../mixins/rows
include ../mixins/pagination


block content
 .panel.panel-default
   .panel-heading #{template.path + ' list'}
   .panel-body
     .page-header
       h1 #{category.name}
       .text-right 
         label total #{items.total} items
     .tableBar
       if !template.get('nocreate')
         .create-item
           if template.get('autocreate')
             .toolbar
               a(href='?new' + csrf_query).btn.btn-default.btn-create.btn-create-item
                 span.ion-plus-round
                 |  Create #{template.singular}
           else
               .toolbar
                 .row
                   .col-xs-6
                    #list-view
                   .col-xs-6
                       .btn-group.tableAction
                         a.btn.btn-default(role="button" href="/keystone/#{list.path}/#{category.id}")
                           span.glyphicon.glyphicon-edit
                           span  &nbsp;Edit 
                         a.btn.btn-default(role="button" href="/ksitecore/#{list.path}/list/#{category.id}?type=#{list.path}")
                           span.glyphicon.glyphicon-list-alt
                           span  &nbsp;Edit Sub Categories
                       .clear
       br
     hr  
     table#table
     if items.results.length == 0
       .no-list
         h3 
           span.label.label-primary no content with this template!
     include ../component/pager

     button(onclick="callItem(12)") Item

block js 
  script(src='/keystone/js/views/list.js')
  script(src='/keystone/js/lib/browserified/querystring.js')
  script(src='/keystone/js/lib/browserified/queryfilter.js')
  script(src='/js/bootstrap-table.min.js')
  script.
    Keystone.list = !{JSON.stringify(list.getOptions())};
    Keystone.template = !{JSON.stringify(template.getOptions())};
    Keystone.category_id = "#{category.id}";
    Keystone.wysiwyg = { options: !{JSON.stringify(wysiwygOptions)} };
    //Support for the POST-based create process
    Keystone.showCreateForm = !{JSON.stringify(showCreateForm)};
    Keystone.createFormData = !{JSON.stringify(submitted)};
    Keystone.createFormErrors = !{JSON.stringify(createErrors || null)};
    Keystone.template.cols = !{JSON.stringify(colPaths)};
    Keystone.template.perPage = !{ Number(template.perPage) || 50 };
    Keystone.items = !{ JSON.stringify(items.results) };
    Keystone.search = "#{search}";
    Keystone.filters = !{ JSON.stringify(filters) };
    Keystone.sort = "#{sort.by}";
    Keystone.query = "#{query}";
    Keystone.csrf_query = "!{csrf_query}";
  script(src='/keystone/js/packages.js')
  script(src='/keystone/js/fields.js')
  script(src='/keystone/js/list.js')
  script(src='/keystone/js/lib/underscore/underscore-min.js')
  script(src='/keystone/js/lib/moment/moment-1.7.2.min.js')
  script(src='/js/bootstrap.min.js')
  script.
   var data = Keystone.items;
   //去除data里面的object值
   data = _.map(data, function(obj){
    return _.mapObject(obj, function(value,key){
      if (typeof(value) == "object" && value.name)
      {
        return value.name;
      }
      else if (key == "publishedDate")
      {
        return moment(value).format('YYYY-MM-DD');
      }
      return value;
    })
   });

   $('#table').bootstrapTable({
    columns: !{JSON.stringify(columns)},
    data: data,
    showColumns: true,
    showRefresh: true,
    minimumCountColumns: 2,

   }).on('click-row.bs.table', function (e, row, $element) {
    parent.viewItem(Keystone.template.path, row._id);
   });
   parent.document.all("content-frame").height=document.body.scrollHeight;
block	css
 link(rel="stylesheet", href='/css/bootstrap-table.min.css')