//include ../includes/kadm
include ../includes/kadmEx
section.content-header
	h1
		| Dashboard
		small Control panel
	ol.breadcrumb
		li
			a(href='#')
				i.fa.fa-dashboard
				|  Home
		li.active Dashboard
section.content
	.row
		.col-sm-3
			#category
		.col-sm-9
			#cateContent

script(src="#{adminPathEx}/dist/js/bootstrap-table.js")
script(src="#{adminPathEx}/dist/js/bootstrap-treeview.min.js")
script(src="#{adminPathEx}/dist/js/jquery.bootgrid.min.js")
script(src="#{adminPathEx}/script/Category.js")
script(src="#{adminPathEx}/script/CateContent.js")
script(src="#{adminPathEx}/script/inner.js")


//script(src="#{adminPathEx}/script/Category.js")

