// jQuery 2.2.0
script(src='#{adminPathEx}/plugins/jQuery/jQuery-2.2.0.min.js')
// jQuery UI 1.11.4
script(src='https://code.jquery.com/ui/1.11.4/jquery-ui.min.js')
// Resolve conflict in jQuery UI tooltip with Bootstrap tooltip
script.
	$.widget.bridge('uibutton', $.ui.button);
// Bootstrap 3.3.5
script(src='#{adminPathEx}/bootstrap/js/bootstrap.min.js')
script(src="#{adminPathEx}/script/spin.min.js")
script(src="#{adminPathEx}/script/ladda/ladda.min.js")
script(src='#{adminPathEx}/script/underscore-min.js')
script(src='#{adminPathEx}/dist/js/packages.js')
script(src='#{adminPathEx}/script/utilsForReactDom.js')
script(src='#{adminPathEx}/script/MainSideBar.js')
script(src='#{adminPathEx}/script/MainLoading.js')

//script(src='#{adminPathEx}/js/MainContent.js')
script(src='#{adminPathEx}/dist/js/app.min.js')
script(src='#{adminPathEx}/dist/js/demo.js')
